.projectile-obj{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(((3vw + 3vh) / 2));
    height: calc(((3vw + 3vh) / 2));
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 100%;
}

.projectile-img{
    background-size: cover; 
    background-position: center; 
}

.projectilemap{
    position: absolute;
    top: 0;
    left: 0;
}

.aoemap{
    position: absolute;
    top: 0;
    left: 0;
}

.aoe-obj{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    border-radius: 100%;
}

.Explosion{
    background-color: #ff000048;
}

.Fireplosion{
    background-color: #e1ff0048;
}

.Frostplosion{
    background-color: #00ffff48;
}

.Magicplosion{
    background-color: #ff00ff48;
}

.Acidplosion{
    background-color: #00ff0048;
}