.attacker-obj{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(((3vw + 3vh) / 2));
    height: calc(((3vw + 3vh) / 2));
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 100%;
}

.attacker-img{
    background-size: cover; 
    background-position: center; 
}
.attacker-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: none;
    mask-size: cover;
    mask-position: center;
}

.attackermap{
    position: absolute;
    top: 0;
    left: 0;
}

.hp-container{
    position: absolute;
    z-index: 900;
}

.attacker-hpbar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    transform: translateY(-100%);
    background-color: #000;
}

.Hit{
    background-color: #ffffff;
}

.Frozen{
    background-color: #00b7ffbb;
}

.Stunned{
    background-color: #e064ff74;
}

.Slowed{
    background-color: #8f48a5ad;

}

.OnFire{
    background-color: #ff7b0087;
}

.Poisoned{
    background-color: #09ff00bb;
}

.Cursed{
    background-color: #7700ffbb;
}

.Dying{
    background-color: #ff0000bb;
}