/* You can add global styles to this file, and also import other style files */
:root{
    --green-dark: #2b4729;
    --green-light: #b2f88f;
    --green-lighter: #a3e6a3;
    --green-accent: #66a16a;


    --desert-dark: #bb8f3e;
    --desert-light: #e6cc92;
    --desert-lighter: #ffeda3;
    --desert-accent: #b48d53;

    --frost-dark: #3a616e;
    --frost-light: #b3e3ff;
    --frost-lighter: #d7f3ff;
    --frost-accent: #5390bb;

    --main-font: 'Roboto', sans-serif;
}

.green-dark-bg{
    background-color: var(--green-dark);
}
.desert-dark-bg{
    background-color: var(--desert-dark);
}
.frost-dark-bg{
    background-color: var(--frost-dark);
}

.green-light-bg{
    background-color: var(--green-light);
}
.desert-light-bg{
    background-color: var(--desert-light);
}
.frost-light-bg{
    background-color: var(--frost-light);
}

.green-lighter-bg{
    background-color: var(--green-lighter);
}
.desert-lighter-bg{
    background-color: var(--desert-lighter);
}
.frost-lighter-bg{
    background-color: var(--frost-lighter);
}

.green-accent-bg{
    background-color: var(--green-accent);
}
.desert-accent-bg{
    background-color: var(--desert-accent);
}
.frost-accent-bg{
    background-color: var(--frost-accent);
}

.green-accent-hover{
    background-color: var(--green-accent);
}
.desert-accent-hover{
    background-color: var(--desert-accent);
}
.frost-accent-hover{
    background-color: var(--frost-accent);
}

.green-accent-hover:hover{
    background-color: var(--green-lighter);
}
.desert-accent-hover:hover{
    background-color: var(--desert-lighter);
}
.frost-accent-hover:hover{
    background-color: var(--frost-lighter);
}

.main-body{
    margin: 0;
    font-family: var(--main-font);
}

.grid{
    display: grid;
}

.text-end{
    text-align: end;
}

.flex {
  display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-justify-space-between{
    justify-content: space-between;
}

.flex-justify-space-around{
    justify-content: space-around;
}

.flex-justify-space-even{
    justify-content: space-evenly;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.full-size{
    height: 100%;
    width: 100%;
}

.title{
    font-size: calc((4vh + 4vw) / 2);
    font-weight: bold;
}

.sub-title{
    font-size: calc((3vh + 3vh) / 2);
    font-weight: bold;

}

.bold{
    font-weight: bold;
}

.h1{
    font-size: calc((3.84vh + 3.84vw) / 2);
}

.h2{
    font-size: calc((2.88vh + 2.88vw) / 2);
}

.h3{
    font-size: calc((2vh + 2vw) / 2);
}

.h4{
    font-size: calc((1.44vh + 1.44vw) / 2);
}

.h5{
    font-size: calc((1.2vh + 1.2vw) / 2);
}

.white{
    color: white;
}

.a-no-underline{
    text-decoration: none;
}

.play-button {
    background-color: #ff4081;
    border: none;
    border-radius: calc((0.5vh + 0.5vw) / 2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: calc((1vh + 1vw) / 2) calc((2vh + 2vw) / 2);
    font-size: calc((1.25vh + 1.25vw) / 2);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ff6699;
    }
}

.margin-top-small{
    margin-top: calc((1vh + 1vw) / 2);
}

.margins-big{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.margin-right-1vw{
    margin-right: 1vw;
}

.full-width{
    width: 100%;
}