.gamemap{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.halfviewbox{
    width: calc(((50vh + 50vw)) / 2);
    height: calc(((50vh + 50vw)) / 2);
}


.tile{
    background-color: transparent;
}

.side-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: calc((20vw + 20vh) / 2);
    height: calc((50vw + 50vh) / 2);
    background-color: #b1d97e;
    border-left: 1px solid black;
}

.invalid{
    background-color: #ff000048;
}



