<img class="map-img halfviewbox" [src]="this.Background">

<div class="overlay-text halfviewbox" [class.opacity-one]="OverlayText.length > 0" [class.opacity-zero]="OverlayText.length == 0">
    <div class="h2" *ngFor="let text of OverlayText">{{text}}</div>
</div>

<div class="gamemap halfviewbox" #gameMap (mouseenter)="MouseEnter()" (mouseleave)="MouseLeave()" (mousedown)="MouseDown()">
    <!--<ng-container *ngFor="let tileRow of mapTiles; let row = index">
        <div class="tile" [style.height]="GetTileHeight()" [style.width]="GetTileWidth()" *ngFor="let tile of tileRow; let col = index" [style.grid-column]="col + 1" [style.grid-row]="row + 1" [class.invalid]="tile == 1">

        </div>
    </ng-container>
-->
</div>

<div class="defendermap halfviewbox">
    <ng-container *ngFor="let defender of defenders">
        <div class="defender-obj" [class.selected-def]="selectedDefender == defender" [style.transform]='"translate(-50%,-50%) rotate(" + defender.angle + "rad)"' [style.top]='defender.y + "%"' [style.left]='defender.x + "%"' (click)="SelectExisting(defender)">
            <div class="full-size defender-img" [style.background-image]="defender.model.image"></div>
        </div>
        <div class="range" *ngIf="selectedDefender == defender" [style.top]='defender.y + "%"' [style.left]='defender.x + "%"' [style.width]="GetViewRangeRadius(defender.range)" [style.height]="GetViewRangeRadius(defender.range)"></div>
    </ng-container> 
</div>

<div class="attackermap halfviewbox">
    <ng-container *ngFor="let attacker of attackers">
        <div class="attacker-obj" [style.z-index]="attacker.zindex" *ngIf="attacker.spawned && attacker.alive" [style.transform]='"translate(-50%,-50%) rotate(" + attacker.angle + "rad) scale(" + attacker.scale + ")" ' [style.top]="attacker.y + '%'" [style.left]="attacker.x + '%'">
            <div class="full-size attacker-img" [style.background-image]="attacker.image"></div>
            <div class="full-size attacker-mask" [style.mask-image]="attacker.image" [ngClass]="attacker.cssEffects"></div>
        </div>
        <div class="hp-container" *ngIf="attacker.spawned && attacker.health > 0 && attacker.hpPercent < 100" [style.width]="(3 * attacker.hitboxRadius) + '%'" [style.height]="(3 * attacker.hitboxRadius) + '%'" [style.top]="attacker.y + '%'" [style.left]="attacker.x + '%'" [style.transform]='"translate(-50%, -50%)"'>
            <div class="attacker-hpbar" [style.width]="'100%'"></div>
            <div class="attacker-hpbar" [style.width]="attacker.hpPercent + '%'" [style.background-color]="attacker.hpColor"></div>
        </div>
    </ng-container>
</div>

<div class="aoemap halfviewbox">
    <ng-container *ngFor="let aoe of AOES">
        <div class="aoe-obj" [ngClass]="aoe.anim" [style.width]='(aoe.radius * 2) + "%"' [style.height]='(aoe.radius * 2) + "%"' [style.top]='aoe.position.y + "%"' [style.left]='aoe.position.x + "%"'>
            <div class="full-size aoe-img" [style.background-image]="aoe.explosion"></div>
        </div>
    </ng-container>
</div>

<div class="projectilemap halfviewbox">
    <ng-container *ngFor="let projectile of projectiles">
        <div *ngIf="!projectile.finished" class="projectile-obj" [style.width]='(projectile.hitboxRadius * 2) + "%"' [style.height]='(projectile.hitboxRadius * 2) + "%"' [style.transform]='"translate(-50%,-50%) rotate(" + projectile.angle + "rad)"' [style.top]="projectile.y + '%'" [style.left]="projectile.x + '%'">
            <div class="full-size projectile-img" [style.background-image]="projectile.image"></div>
        </div>
    </ng-container>
</div>

<div class="defender-placer" *ngIf="selectedDefenderModel && mouseOverMap" [style.top.px]="cursorMapY" [style.left.px]="cursorMapX">
    <div class="defender-obj">
        <div class="full-size defender-img" [style.background-image]="selectedDefenderModel.image"></div>
    </div>
    <div class="range" [class.unplacable]="!canPlaceDefender()" [style.width]="GetViewRangeRadius(selectedDefenderModel.range)" [style.height]="GetViewRangeRadius(selectedDefenderModel.range)"></div>
</div>

<div class="side-menu flex flex-column flex-center">
    <div class="h3">ROUND {{currentRound}} / {{totalRounds}}</div>
    <div class="h4">Money: {{money}}$</div>
    <div class="h4">Lives: {{base_hp}}</div>
    <div class="sub-title" style="margin-top: 5px;">Defenders</div>
    <div class="full-width">
        <div class="flex flex-row flex-center defenders">
            <div class="defender" *ngFor="let defender of defenderModels" [class.selected]="selectedDefenderModel == defender" (click)="SelectDefenderModel(defender)">
                <div class="full-size defender-img" [style.background-image]="defender.image"></div>
            </div>
        </div>
    </div>
    <div class="full-size" *ngIf="!selectedDefender && !selectedDefenderModel"></div>
    <div class="full-size" *ngIf="selectedDefenderModel">
        <div class="flex flex-center flex-column">
            <div class="h2">{{selectedDefenderModel.name}}</div>
            <div class="h3">{{selectedDefenderModel.cost}}$</div>
            <div class="h4 defender-desc">{{selectedDefenderModel.description}}</div>   
        </div>
        <div class="stats-container h4 grid">
            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="1">
                Damage
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="1">
                <div class="stat-bar-fill" [style.width.%]="getDamagePercent(selectedDefenderModel.damage)"></div>
            </div>

            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="2">
                Range
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="2">
                <div class="stat-bar-fill" [style.width.%]="getRangePercent(selectedDefenderModel.range)"></div>
            </div>

            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="3">
                Attack Speed
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="3">
                <div class="stat-bar-fill" [style.width.%]="getAttackSpeedPercent(selectedDefenderModel.attack_speed)"></div>
            </div>
        </div>   
    </div>
    <div class="full-size flex flex-center flex-column" [style.align-itmes]='"flex-start"' *ngIf="selectedDefender">
        <div class="flex flex-center flex-column">
            <div class="h2">{{selectedDefender.name}}</div>
        </div>
        <div class="stats-container h4 grid">
           
            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="1">
                Damage
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="1">
                <div class="stat-bar-fill" [style.width.%]="getDamagePercent(selectedDefender.damage)"></div>
            </div>

            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="2">
                Range
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="2">
                <div class="stat-bar-fill" [style.width.%]="getRangePercent(selectedDefender.range)"></div>
            </div>

            <div class="text-end margin-right-1vw" [style.grid-column]="1" [style.grid-row]="3">
                Attack Speed
            </div>
            <div class="stat-bar" [style.grid-column]="2" [style.grid-row]="3">
                <div class="stat-bar-fill" [style.width.%]="getAttackSpeedPercent(selectedDefender.attack_speed)"></div>
            </div>
        </div>  
        <div class="sub-title" *ngIf="!selectedDefender.FullyUpgraded()"> Upgrades</div>
        <div class="h3" *ngIf="selectedDefender.FullyUpgraded()">
            Fully upgraded!
        </div>
        <div class="flex flex-center flex-column full-size">
            <div *ngFor="let upgrade of selectedDefender.availableUpgrades" class="upgrade flex flex-center flex-row flex-justify-space-between full-width" [class.no-money]="money < upgrade.cost" (click)="UpgradeDefender(selectedDefender, upgrade)">
                <div class="h4">{{upgrade.name}}</div>
                <div class="h4">{{upgrade.cost}}$</div>
            </div>
            
        </div>
        <div class="play-button flex flex-center margins-big" (click)="SellDefender(selectedDefender)">
            Sell for {{selectedDefender.SellValue()}}$
        </div>
    </div>
    <div class="play-button flex flex-center margins-big" (click)="start()" *ngIf="!gameStarted && !resetting">
        Start
    </div>
    <div class="play-button flex flex-center margins-big" (click)="reset()" *ngIf="gameStarted">
        Reset Level
    </div>
   
    
</div>

